<div class="row-fluid">
	<div id="content" class="span12>">
		<ul class="thumbnails">
			{{#if players}}
				{{#each players}}
	  			<li>
	 				<a style="text-align: center;" class="thumbnail plain" href="/admin/player/edit/{{id}}">
	 					<img class="player-photo" src="/photos/{{photo}}" />
	 					<h5>{{name}}</h5>
	    				<br clear="both" />
						<i class="icon-globe"></i> {{division.label}}
					</a>
	  			</li>
	  			{{/each}}
  			{{else}}
  				La liste des membres est vide.
  			{{/if}}
		</ul>
		
		<br />
		<div class="form-actions">
            <a href="/admin/player/add" class="btn btn-primary">Nouveau joueur</a>
        </div>			
	</div>
</div>