<div class="form-horizontal">
	<form action="edit" method="post" enctype="multipart/form-data">
		<div class="control-group">
			<label class="control-label" for="name"> Nom de l'équipe :</label>
			<div class="controls">
				<input type="text" name="name" />
			</div>
			<br />
			
			<label class="control-label" for="division"> Division :</label>
			<div class="controls">
				<select id="division" name="division">
					{{#each divisions}}
  						<option value="{{_id}}">{{label}}</option>
  					{{/each}}
            	</select>
			</div>
			<br />
			
			<label class="control-label" for="logo"> Logo :</label>
			<div class="controls">
				<span class="btn-file">
					<input type="file" name="logo" />
				</span>	
			</div>
			
			<h3>Membres de l'équipe</h3>
			
			{{#each players}}
				 <label class="checkbox">
					<input type="checkbox" name="members" value="{{_id}}"> {{name}}  
				 </label>
			{{/each}}	 

			<br />
			<div class="form-actions">
				<input type="submit" class="btn btn-primary" value="Enregistrer" />
	            <a href="#" class="btn delete">Supprimer</a>
	        </div>			
		</div>		
	</form>
</div>