<div class="form-horizontal">
	<form id="team-form" method="post" enctype="multipart/form-data">
		<div class="control-group">
			<label class="control-label" for="name"> Nom de l'équipe :</label>
			<div class="controls">
				<input type="text" name="name" value="{{current.name}}" required />
			</div>
			<br />
			
			<label class="control-label" for="division"> Division :</label>
			<div class="controls">
				<select id="division" name="division" onchange="BattleBoard.Util.loadSelectPlayers('division', 'playersTpl', 'players');">
					{{renderSelectOptions divisions current.division}}
            	</select>
			</div>
			<br />
			
			<label class="control-label" for="logo"> Logo :</label>
			<div class="controls">
				<span class="btn-file">
					<input type="file" name="logo" />
				</span>	
			</div>
			
			<h3>Membres de l'équipe</h3>
			<div id="players"></div>
			{{#each players}}
				 <label class="checkbox">
					<input type="checkbox" name="members" value="{{_id}}"> {{name}}  
				 </label>
			{{/each}}	 
			
			<br />
			<div class="form-actions">
				<input type="submit" class="btn btn-primary" value="Enregistrer" />
	            <a href="#confirm" class="btn" data-toggle="modal">Supprimer</a>
	        </div>			
		</div>		
	</form>
</div>

{{renderConfirmBox "confirm"}}

<script id="playersTpl" type="text/template">
	<% _.each(players, function(player){ %>		
		<label class="checkbox">
			<input type="checkbox" name="members" value="<%- player._id %>" <% if (player.checked) { %> checked <% } %>> <%- player.name %>  
		</label>
	<% }); %>
</script>

<script>
$(document).ready(function() {
	BattleBoard.Util.loadSelectPlayers("division", "playersTpl", "players", "{{members}}");
});
</script>